<%= form_for @occupation do |f| %>
  <div>
    <%= f.label 'Title', for: :title  %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label 'Start day', for: :start_date  %>
    <%= f.date_field :start_date, type: :date %>
  </div>

  <div>
    <%= f.label 'End day', for: :end_date  %>
    <%= f.date_field :end_date, type: :date %>
  </div>

  <div>
    <%= f.label 'Start time', for: :start_time  %>
    <%= f.time_field :start_time, type: :time %>
    <%= f.label 'End time', for: :end_time  %>
    <%= f.time_field :end_time, type: :time %>
  </div>

  <%= f.hidden_field :schedule_id, value: @occupation.schedule_id %>
  <%= f.hidden_field :secret_token, value: params[:secret_token] %>

  <%= f.submit %>
<% end %>