
<div class="form-row">
  <div class='form-group col-md'>
    <%= f.label t('occupations.new.form.subject.title'), for: :subject_id  %>
      <%= f.collection_select :subject_id, (@subjects || @schedule.subjects),
                              :id, :title,
                              { prompt: t('occupations.new.form.subject.prompt') },
                              class: 'custom-select' %>
  </div>
</div>

<div class="form-row">
  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.week_day.title'),
                for: :week  %>
    <%= f.collection_select :week, Occupation.custom_week_days,
                      :id, :title, {}, class: 'custom-select' %>
  </div>

  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.type_of_week.title'),
                for: :type_of_week  %>
    <%= f.collection_select :type_of_week, Occupation.custom_type_of_week,
                      :id, :title, {}, class: 'custom-select' %>
  </div>
</div>

<div class="form-row">
  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.start_date.title'), for: :start_date  %>
    <%= f.date_field :start_date, type: :date, class: 'form-control', required: true %>
    <small id="start_date" class="form-text text-muted">
      <%= t('occupations.new.form.start_date.text_muted') %>
    </small>
  </div>

  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.end_date.title'), for: :end_date  %>
    <%= f.date_field :end_date, type: :date, class: 'form-control' %>
    <small id='end_date' class="form-text text-muted">
      <%= t('occupations.new.form.end_date.text_muted') %>
    </small>
  </div>
</div>

<div class="form-row">
  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.start_time.title'), for: :start_time  %>
    <%= f.time_field :start_time, type: :time, class: 'form-control', required: true %>
  </div>

  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.end_time.title'), for: :end_time  %>
    <%= f.time_field :end_time, type: :time, class: 'form-control', required: true %>
  </div>
</div>

<div class="form-row">
  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.field_of_activity.title'),
        for: :field_of_activity_id  %>
    <%= f.collection_select :field_of_activity_id,
                (@field_of_activities || @schedule.field_of_activities),
                :id, :title,
                { prompt: t('occupations.new.form.field_of_activity.prompt') },
                class: 'custom-select' %>
  </div>


  <div class='form-group col-md-6'>
    <%= f.label t('occupations.new.form.place.title'), for: :place_id  %>
    <%= f.collection_select :place_id,
                            (@places || @schedule.places),
                            :id, :title,
                            { prompt: t('occupations.new.form.place.prompt') },
                            class: 'custom-select' %>
  </div>
</div>

<div class='custom-file mb-3'>
  <%= f.file_field :appendix,
                    type: 'file',
                    class: 'custom-file-input'
  %>

  <%= f.label t('occupations.new.form.appendix.title'),
              for: :appendix,
              class: 'custom-file-label',
              'data-browse': t('occupations.new.form.appendix.data_browse')
  %>
</div>