<div class="jumbotron p-3 jumbotron-fluid bg-light">
  <h1 class="display-5"><%= @schedule.title %></h1>
  <hr class="my-4">
    <%= link_to t('occupations.show.link.schedules.show'), schedule_path(@schedule), type: "button", class: "btn btn-outline-secondary" %>
    <%= link_to t('schedules.show.link.occupations.new'), new_schedule_occupation_path(@schedule), type: "button", class: "btn btn-outline-success" %>
  <hr class="my-4">

  <div class="list-group">
  <% @occupations.each do |occupation| %>
  <div class='list-group-item bg-light'>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= occupation.title %></h5>
      <big>
        <%= link_to edit_schedule_occupation_path(@schedule, occupation), class: "btn btn btn-outline-primary" do %>
          <%= render 'icons/pencil' %>
        <% end %>
        <%= link_to [@schedule, occupation], method: :delete, data: {confirm: t('.you_sure')}, class: "btn btn btn-outline-danger" do %>
          <%= render 'icons/trash_fill' %>
        <% end %>
      </big>
    </div>
    <p class="mb-1"></p>
    <big>
      <span class="badge badge-success">
        <%= render 'icons/stopwatch' %>
        <%= occupation.start_time&.to_s(:time) %> —
        <%= occupation.end_time&.to_s(:time) %>
      </span>
      <span class="badge badge-info">
        <%= render 'icons/calendar' %>
        <%= occupation.start_date&.to_s(:date) %> —
        <%= occupation.end_date&.to_s(:date) %>
      </span>
    </big>
  </div>
  <% end %>
  </div>

</div>
