<div class="jumbotron p-3 jumbotron-fluid bg-light">
  <h1 class="display-5"><%= t('occupations.new.title')%></h1>
  <hr class="my-4">

  <%= link_to t('occupations.show.link.schedules.show'), schedule_path(@schedule), type: "button", class: "btn btn-outline-secondary" %>
  <%= link_to schedule_occupations_path(@schedule), type: "button", class: "btn btn-outline-secondary" do %>
     <%= t('schedules.show.link.occupations.manage') %> <span class="badge badge-light border">
     <%= @schedule.occupations.count %>
     </span>
  <% end %>

  <hr class="my-4">
  <%= form_for [@schedule, @occupation] do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit t('occupations.new.form.submit.title'), type: 'submit', class: 'btn btn-outline-success' %>
  <% end %>
</div>
