<div class="jumbotron p-3 jumbotron-fluid bg-light">
  <h2 class="display-5">
    <%= @schedule.title %> | <%= t('schedules.edit.title') %>
  </h2>
  <p class="lead">
    <span class="badge badge-dark">
      <%= render 'icons/calendar' %>
      <%= @schedule.start_week %> — <%= @schedule.end_week %>
    </span>

    <span class="badge badge-dark">
      <%= t("type_of_week.#{@schedule.type_of_week.to_s}") %>
    </span>
  </p>
  <hr class="my-4">

  <%= form_for @schedule do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit t('schedules.edit.form.submit.title'), type: 'submit', class: 'btn btn-outline-primary' %>
    <%= link_to t('schedules.destroy.title'),
                schedule_path(@schedule),
                method: :delete,
                class: 'btn btn-outline-danger',
                data: { confirm: t('schedules.destroy.confirm') } %>
  <% end %>
</div>
