<div class="jumbotron p-3 jumbotron-fluid">
  <h1 class="display-5"><%= @schedule.title %></h1>
  <p class="lead">
    <span class="badge badge-dark"><%= @schedule.start_week %> — <%= @schedule.end_week %>
    </span>
  </p>
  <hr class="my-4">
    <%= link_to 'New occupation', new_occupation_path(schedule_id: @schedule.id), type: "button", class: "btn btn-outline-success" %>
    <%= link_to occupations_path(schedule_id: @schedule.id), type: "button", class: "btn btn-outline-secondary" do %>
     Manage occupations <span class="badge badge-light"><%= @schedule.occupations.count %></span>
    <% end %>
  <hr class="my-4">

  <div class="container-fluid">
    <% colors = ['#50c7c7', '#50c75f', '#c76b50', '#6550c7', '#c75052', '#ebdd60', '#eb60bc']; colors_select = 0 %>
    <% @schedule.occupations_this_week.each do |occupation| %>
      <% if !@prev_occupation || occupation.start_date != @prev_occupation.start_date %>
        <%= occupation.start_date.to_s(:date) %>
        <span class="badge badge-primary" style='background: <%= colors[colors_select] %>'><strong><%= occupation.start_week %></strong></span>
        <% @prev_occupation = occupation; colors_select+=1  %>
      <% end %>

      <div class="row border rounded-sm shadow-sm mb-1">
        <div class="col-sm-1">
          lesson
          <span class="badge badge-info">  
            <time><%= occupation.start_time.to_s(:time) %></time> -
            <time><%= occupation.end_time.to_s(:time) %></time>
          </span>
        </div>

        <div class="col-sm-10">
          <p><%= occupation.title %></p>
        </div>

        <div class="col-sm-1">
          <svg class="bi bi-geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 002 6c0 4.314 6 10 6 10zm0-7a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
          </svg> home
        </div>
      </div>
    <% end %>
  </div>

</div>
