<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href='<%= "#{root_path}" %>'>
    <%= image_tag 'planner.png', width: "30", height: "30", class: "d-inline-block align-top",  alt: "Planning Now" %>
    <%= 'planner' %>
  </a>

  <div class="dropdown show">
    <%= link_to profile_path, class: 'btn btn-light',
                              role: 'button',
                              title: t('profile.show.title') do %>
      <%= render 'icons/profile' %>
    <% end %>

    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= render 'icons/globe' %>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to root_path(locale: :en), class: "dropdown-item" do %>
        <%= t('language.en') %>
      <% end %>

      <%= link_to root_path(locale: :ru), class: "dropdown-item" do %>
        <%= t('language.ru') %>
      <% end %>
    </div>
  </div>
</nav>
