<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Plan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <%= render 'header' %>

  <div class="container-fluid p-0">
    <%= render 'flash' %>
    <%= yield %>
  </div>
</html>
